{% extends 'base.html' %}
{% block header %}

<div class="newsletter-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="entry-header">
                    <h2 class="entry-title">UPDATE</h2>
                    <!-- <p>Join our database NOW!</p> -->
                </header>

                <div class="newsletter-form">
                    <form class="flex flex-wrap justify-content-center align-items-center" method="post">
                        {% csrf_token %}
                        <div class="col-md-12 col-lg-6">
                            <input type="text" value="{{data.name}}" name="name" placeholder="Name">
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <input type="email" value="{{data.email}}" name="email" placeholder="E-mail">
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <input type="text" value="{{data.phone}}" name="phone" placeholder="Phone number">
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <input type="text" value="{{data.country}}" name="country" placeholder="Country">
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <input type="password" value="{{data.login_id_id.password}}" name="password"
                                placeholder="Create a password">
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <input type="password" name="confirm" placeholder="Confirm your password">
                        </div>

                        <div class="col-md-12 col-lg">
                            <input class="btn gradient-bg" type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}